html, body {
    height: 100%;
    margin: 0pt;
    left:0; 
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #5D8AA8 !important;
             
}
.Frame {
     display: table;
     height: 100%;
     width: 100%;
}
.Row {
     display: table-row;
     height: 1px;
}
.row_expand {
     height: auto;
}

.body_container {
    padding-top: 50px;
    height: 100%;
}

body > .body_container {
    height: auto; 
    min-height: 100%;
}

.main_content{ 
    padding-top: 3em; 
}


a {
  color: #00B7FF;
}

.alert{ 
    color: #e2f202;
    font-size: 16px;
    background-color: #333;
}


.navbar-fixed-top {
  position: fixed;
  top: 0;
  border-width: 0 0 1px;
  background-color: #333;
}
.navbar-brand{
    padding: 8px 13px;
    color: #00B7FF;
}

.pull-right {
    position: absolute;
    right: 0px;
    left: auto;
}


.nav.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
.navbar-nav > li {
    float: left;
    text-align: center;
}

.navbar-nav > li > a {
    padding: 10px 15px;
    margin: 0;
    display: block;
    color: white;
    text-align: center;
}

.navbar-nav > li > a:hover:not(.active) {
    background-color: #111;
}

.navbar-nav > li > a:hover.active {
    background-color: #f2b910;
}

.navbar-nav .active{
    background-color: #f2b910;
}




.book_shelf{

}

.list-book-item{
    border: 1px solid #e6edf2;
    border-radius: 2px;
    padding: 1px;
    margin: 1px;

}

.list-book-item .book_name{
    color: white;
    font-size: 4vh;
}

.list-book-item .book_title{
    font-size: 2vh;
    color: #003366;
}


.book_done_badge{
    margin: 1px 4px;
}

.book_done_badge.done {
    background-color: #24b764;
}
.book_done_badge.not_read{
   
}

.hidden {
    display: none;
}

.visible {
    display: run-in;
}


.table-button {
    border-radius: 2px;
    background-color: #afa492;
    padding: 5px 5px;
    font-size: 15px;
    color: #003366;
    width: 33%;
    height: 2.5em;
    border: 1px solid #e6edf2;
    outline: none;
    margin-bottom: 5px;
}

.table-button:hover{
    color: white;
}

.table-button.status{
    background-image: url('/images/details_on.jpg');
    min-width: 100px;
    min-height: 33px;
    border-color: transparent;
    padding: 0px;
}

.table-button.status.pressed{
    background-image: url('/images/details_off.jpg');
}

.button-container{
    text-align: center;
    padding: 20px;
    margin: auto;
}

.button-container .btn{
    border: 1px solid #f28729;
    display: inline;
    float: none;
    color: #e6edf2;
    background-color: #56504b;
    margin: 1em 3px 1em 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.button-container .btn:hover{
    border: 1px solid #f28729;
    color: #f28729;
    outline: #f28729 !important;;
}

.btn.pressed:focus{
    background-color: gray;
    color: #f28729;
    outline: #f28729 !important;; 
}
.btn.pressed{
    background-color: gray;
    color: #f28729;
}


.container.book-details {
    list-style-type: none;
    margin: 0;
    padding: 10px; 
    float: left;
}

.container.book-details img{
    width: 100%;
    height: auto;
}

.container.book-details > p{
    float: left;
    max-width: 300px;
    max-height: 300px;
    overflow: auto;
    text-align: left;
    padding: 5px 5px;
}

.book-details.list > li > p{
    padding: 0px 10px 0px 10px;
}



.add_book_form {
    float: left;
    margin:  auto;
    width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #444444;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.form-control.input-sm {
  height: 30px;
  width: 30%;
  min-width: 80px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.add_book_form .pull-right {
    position: relative;
    right: 0px;
    left: auto;
}

.add_book_form .btn{
    margin: 1px;
}



.footer {
    clear: both;
    position: relative;
    background-color: #f2b910; 
}

.footer .inlineBlock {
    list-style-type: none;
    margin: 5px; 
    float: left;
    outline-color: #333;
}

