extends layout
include _includes/sharedHTMLfunctions

block content
  h1 &nbsp #{title}
  .container
   .col-sm-12.col-md-9.col-lg-6
    form#addBook.add_book_form(action = "", method = "post", role="form")
      - if (err === "val")
        p.alert All fields required, please try again
      div
       label(style = "text-decoration: underline;") choose image
       select.form-control.input-sm(name="cover_name")
        -for(var i=0; i < images.length; i++)
            option= images[i]
      //div
       label(style = "text-decoration: underline;" title = "dont work now") upload book
       input(type="file" name= "book_file" style = "display:none;")
      label Author
      input.form-control(type="text" name= "author" placeholder="Author...")
      label Title
      input.form-control(type="text" name= "title" placeholder="Book title...")
      label Review
      textarea.form-control(type="text" name="review" placeholder="add description here" rows="7")
      label Rating
      select.form-control.input-sm(name="rating")
        -for(var i=5; i > 0; i--)
            option= i
      label Is read already
      select.form-control.input-sm(name="status")
        -for(var i=0; i < statuses.length; i++)
            option= statuses[i]
      input.btn.pull-right(type = "submit" value="Submit")
      input.btn.pull-right(type = "reset" value="Reset")
      input.btn.pull-right(type = "reset" value="Back" onclick="window.location.href='/bookslist/'")
