extends layout
include _includes/sharedHTMLfunctions


    
block content
  h1 &nbsp #{title}
   //+insert_tables(tableHeaders, books, table)
   .col-lg-12
    +render_shelves(books, table)
   
     
  

  .button-container
   - var active_class = "";
   - for (var i = 1; i <= table.pages; i++){
    - active_class = (i === 1) ? "pressed" : "";
    button.btn(onclick = "switch_table_page(this)" id = i name = "page_btn" class = active_class)= i
   -}
  
  
 
