extends layout
include _includes/sharedHTMLfunctions


    
block content
  h1 &nbsp #{title}
  .container.book-details
     .col-xs-12.col-sm-6.col-lg-3
       img(src=choosedBook.cover_src alt="no book cover")
       p
     .col-xs-12.col-sm-6.col-lg-4
       h2 &nbsp#{choosedBook.author} - #{choosedBook.title}
       small &nbsp &nbsp;
         +show_rating(choosedBook.rating)
       p
       p= choosedBook.add_date
       p
       p  &nbsp &nbsp #{choosedBook.review} 
       p 
  .button-container
    button.btn(title = "dont work now") Download



