extends layout
include _includes/sharedHTMLfunctions

block content
  h1 &nbsp #{title}
  .container
    form.add_book_form(action = "", method = "post", role = "form")
      - if (err === "val")
        p.alert All fields required, please try again
      div
       label(style = "text-decoration: underline;") choose image
       select.form-control.input-sm(name="cover_name")
        -for(var i=0; i < images.length; i++)
            option= images[i]
      div
       label(for = "book_file" style = "text-decoration: underline;" title = "dont work now") upload book
       input(type="file" name= "" id="book_file" style = "display:none;")
      label Author
      input.form-control(type="text" name= "author" placeholder= "#{book.author}")
      label Title
      input.form-control(type="text" name= "title" placeholder= "#{book.title}")
      label Review
      textarea.form-control(type="text" name="review" placeholder= "#{book.review}" rows="7")
      label Rating
      select.form-control.input-sm(name="rating")
        -for(var i=1; i < 6; i++)
            option= i
      label Status  
      select.form-control.input-sm(name="status")
        -for(var i=0; i < statuses.length; i++)
            option= statuses[i]
      input.btn.pull-right(type = "submit" value="Submit")
      input.btn.pull-right(type = "reset" value="Cancel")  
      input.btn.pull-right(type = "reset" value="Back" onclick="window.location.href='/bookslist/'")
