doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  
  body.Frame
   .header.navbar.navbar-fixed-top
    .container.Row
     .navbar-header 
        button.navbar-toggle(type='button', data-toggle='collapse', datatarget='#navbar-main', onclick="nav_btn_change_visibility('navbar-main')") 
          span.icon-bar 
          span.icon-bar 
          span.icon-bar 
      #navbar-main.navbar-collapse.collapse
        -var active_class = ""
        ul.nav.navbar-nav 
          li 
            -active_class = (active_page === "Books_nav_ref") ? "active" : ""
            a(href="/bookslist/" name = "header_btn"  class=active_class)  Books
          li 
            -active_class = (active_page === "Add_nav_ref") ? "active" : ""
            a(href="/bookslist/new/" name = "header_btn"  class= active_class method = "GET") Add new
          //li 
            -active_class = (active_page === "Edit_nav_ref") ? "active" : ""
            a(href="/bookslist/edit/1" name = "header_btn"  class= active_class method = "GET") Edit
        a.navbar-brand.pull-right(href="mailto:angrewbird@gmail.com") angrewbird@gmail.com 
    
   .row_expand
   .main_content
    block content
    //script(src='/javascripts/bookslist.js')
    //script(src='/javascripts/jquery-3.2.1.js')
    //script(src='/javascripts/validation.js')
    script(src='/javascripts/books.min.js')
  
  
             
  .footer.Row
     .col-lg-4.col-sm-6.col-xs-12
      .inlineBlock
         h3 Find Out More
         ul 
           li 
             p Contact 
           li 
             p(href="#") Contact
           li
             p &copy; Andrew Hora 2017
           li 
             p help
     .col-lg-4.col-sm-6.col-xs-12
      .inlineBlock
         h3 Follow
         ul
           li
             a(href="https://www.facebook.com/andrew.malyar.5") Facebook  
           li
             a(href="https://www.linkedin.com/in/andrew-malyar-979092aa/") Linkedin
     .col-lg-4.col-sm-12
      .inlineBlock
        h3 About this site
        p This site is made by MEAN stack. For now it's without Angulag 
        p Here user can do main CRUD operations with list of books.
        p The books count will not be bigger than 24, each new wi couse the removing of first one.
        p Here is hardcoded number of pages(3) and rows(4) in table
        p This app will grow and will update with Angular soon
        p Enjoy clicking and come back soon
        
