
mixin show_rating(rating)
    - for (var i=1; i <= 5; i++) {
        -if(i<=rating){
          span.glyphicon.glyphicon-star
        - continue;} 
    -}
    
mixin already_read_span(status)
    - var read_already = (status) ? "done!" : "not yet read";
    - var css_class = (status) ? "done" : "not_read";
      span.badge.book_done_badge.pull-right(class = css_class)= read_already

mixin add_book_shelf(books, rows, pos)
    - for (var i=0; i < rows; i++) {
     -if((i + pos) < books.length){
      .col-xs-12.list-book-item
         a.book_name(href="/bookslist/details/#{books[i + pos]._id}")=  books[i + pos].title
         small &nbsp;
             +show_rating(books[i + pos].rating)
          +already_read_span(books[i + pos].status)
         p.book_title &nbsp; #{books[i + pos].author}
         .list_buttons
           button.table-button.edit(onclick= "window.location.href='/bookslist/edit/#{books[i + pos]._id}'") edit 
           button.table-button.details(onclick= "window.location.href='/bookslist/details/#{books[i + pos]._id}'") details
           button.table-button.delete(onclick= "window.location.href='/bookslist/delete/#{books[i + pos]._id}'") delete
        -}
    -}

mixin render_shelves(books, shelf_data)
  -var make_rows = shelf_data.rows
  -var tableClass = "visible";
  -var position =0;
  -var _books_count = books.length;
  -for(var i = 1; i <= shelf_data.pages; i++)
    .book_shelf
     .col-md-6.col-sm-12
      .left_half(class = tableClass name = "page" id = i)
        +add_book_shelf(books, make_rows, position)
       - position += shelf_data.rows
     .col-md-6.col-sm-12
      .right_half(class = tableClass name = "page" id = i)
       - tableClass = "hidden"  
        +add_book_shelf(books, make_rows, position)
       - position += shelf_data.rows

     
    
